<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">

  <gazebo>
    <plugin name="gazebo_ros_control" filename="libhwi_switch_gazebo_ros_control.so">
      <robotNamespace></robotNamespace>
      <robotSimType>cob_gazebo_ros_control/HWISwitchRobotHWSim</robotSimType>
    </plugin>
  </gazebo>

  <gazebo reference="robotiq_85_right_finger_tip_link">
      <sensor name="main_bumper" type="contact">
          <geom>robotiq_85_right_finger_tip_link_geom</geom>
          <selfCollide>true</selfCollide>
          <alwaysOn>true</alwaysOn>
          <updateRate>15.0</updateRate>
          <material>Gazebo/Red</material>
          <contact>
            <!-- The name within the <collision> element must be of the form <link name>_collision -->
             <collision>robotiq_85_right_finger_tip_link_collision</collision>
          </contact>
          <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">   
              <bumperTopicName>right_finger_bumper_vals</bumperTopicName>
              <frameName>robotiq_85_right_finger_tip_link</frameName>
          </plugin>
      </sensor>
  </gazebo>

  <gazebo reference="robotiq_85_left_finger_tip_link">
      <sensor name="main_bumper" type="contact">
          <geom>robotiq_85_left_finger_tip_link_geom</geom>
          <selfCollide>true</selfCollide>
          <alwaysOn>true</alwaysOn>
          <updateRate>15.0</updateRate>
          <material>Gazebo/Red</material>
          <contact>
            <!-- The name within the <collision> element must be of the form <link name>_collision -->
             <collision>robotiq_85_left_finger_tip_link_collision</collision>
          </contact>
          <plugin name="gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">   
              <bumperTopicName>left_finger_bumper_vals</bumperTopicName>
              <frameName>robotiq_85_left_finger_tip_link</frameName>
          </plugin>
      </sensor>
  </gazebo>

  <!-- <gazebo reference="robotiq_85_left_inner_knuckle_link">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>10.0</mu1>
    <mu2>0.1</mu2>
    <fdir1>0 0 1</fdir1>
    <minDepth>0.01</minDepth>
  </gazebo>

  <gazebo reference="robotiq_85_left_finger_tip_link">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>10.0</mu1>
    <mu2>0.1</mu2>
    <fdir1>0 0 1</fdir1>
    <minDepth>0.01</minDepth>
  </gazebo>

  <gazebo reference="robotiq_85_left_knuckle_link">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>10.0</mu1>
    <mu2>0.1</mu2>
    <fdir1>0 0 1</fdir1>
    <minDepth>0.01</minDepth>
  </gazebo>

  <gazebo reference="robotiq_85_right_inner_knuckle_link">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>10.0</mu1>
    <mu2>0.1</mu2>
    <fdir1>0 0 1</fdir1>
    <minDepth>0.01</minDepth>
  </gazebo>

  <gazebo reference="robotiq_85_right_finger_tip_link">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>10.0</mu1>
    <mu2>0.1</mu2>
    <fdir1>0 0 1</fdir1>
    <minDepth>0.01</minDepth>
  </gazebo>

  <gazebo reference="robotiq_85_right_knuckle_link">
    <material>Gazebo/Black</material>
    <turnGravityOff>true</turnGravityOff>
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>10.0</mu1>
    <mu2>0.1</mu2>
    <fdir1>0 0 1</fdir1>
    <minDepth>0.01</minDepth>
  </gazebo> -->

  <!-- <gazebo reference="box_link">
    <implicitSpringDamper>1</implicitSpringDamper>
    <kp>100000.0</kp>
    <kd>1.0</kd>
    <mu1>10.0</mu1>
    <mu2>0.1</mu2>
    <fdir1>1 0 0</fdir1>
    <minDepth>0.01</minDepth>
  </gazebo> -->
</robot>
